@mixin font ($font-size: 14px, $line-height: 17px, $font-weight: 400, $font-style: normal) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablet-max {
    @media (max-width: $max-tablet-widht) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile-widht) {
        @content;
    }
}