.header__link--basket {
    position: relative;
}

.basket__wrp {
    position: absolute;
    z-index: 7;
    right: 0;
    top: 75px;
    background: white;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
}

@media (min-width: 340px) {
    .basket__wrp {
        font-size: 16px;
    }
}

@media (min-width: 552px) {
    .basket__wrp {
        width: 500px;
    }
}

.basket__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basket__header {
    font-weight: bold;
}

.basket__total {
    font-weight: bold;
    text-align: right;
}